@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        min-height: 100%;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
    }

    body {
        min-height: 100vh;
        background-color: #f3f4f6;
    }

    img,
    video,
    canvas {
        max-width: 100%;
        height: auto;
    }

    input,
    button,
    textarea,
    select {
        font: inherit;
    }
}
